@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Favorite Song!</h1>
    <p>Red Hot Chili Peppers - Can't Stop</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8DyziWtkfBw?si=MdW5AT6EkKNhL0_n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div id="myContainer" onmouseover="myMove()">
    <img src="./images/rhcp_logo.png" alt="RHCP Logo" id="myAnimation"/>
</div>

